<div class="jumbo">
<div class="right tomster"></div>
<h2> About TimTim Project</h2>
<p>
	Timtim is a intellegent boy,searching the meaning of life.He travel from galaxy to galaxy and explore the knowledge.We recorded his every journey and showing you his explanation about the universe.
	</p>
	  {{#link-to "contact" class="button"}}
   Contact Us
  {{/link-to}}
	</div>



