<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Contact Us</h2>
  <p>What type of knowledge you are interested to gain?<br>choose a destination or answer
    any questions you may have.</p>
  <address>
   Sobjanta Timtim HQ
    <p>
      Mirpur 1,Dhaka<br>
      Bangladesh
    </p>
    <a href="tel:8801.767.853.839">+1 (880) 1767-8583839</a><br>
    <a href="mailto:mojarbiggan@gmail.com">mojarbiggan@gmail.com</a>
  </address>

  {{#link-to "about" class="button"}}
  About
  {{/link-to}}
</div>

{{outlet}}